<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Crypto Address</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="public/stylesheets/index.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
   
  </head>
  <body>
    <h1>Crypt-ID</h1>


    <!-- <div id="userinput"> -->
        <p>Exchange</p>
        <input type="text" id="exchange" /> 
        <br>
        <p>Currency</p>
        <input type="text" id="currency" />
      <br>
        <p>Address</p>
        <textarea id="address"></textarea>
      <div id="buttons">
        <div id="actionbutton">
          <button id="makenew">Submit</button>
        </div>
        <!-- <button id="clearall">Delete All Notes</button> -->
      </div>
   <!--  </div> -->

    <div id="results"></div>
    <script src="public/js/index.js"></script>
  </body>
</html>